<!DOCTYPE html>
<html lang="en">

<head>
    <title>FoodBazar</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="./styles.css">
</head>

<body>

    <header>
        <a href="#" class="logo"><i class="fas fa-utensils"></i>FoodBazar</a>
        <nav class="navbar">
            <div class="search-box">
                <input type="text" placeholder="Search Food and Restaurant">
            </div>
            <a href="#home">Home</a>
            <a href="#dishes">Dishes</a>
            <a href="#review">Review</a>
            <a href="#contact">Contact us</a>
            <a href="#about">About us</a>
        </nav>
        <div class="search-login-container">
            <div class="icons">
                <i class="fas fa-bars" id="menu-bars"></i>
                <a href="#" class="fas fa-heart"></a>
            </div>
            <form action="/login? " method="POST">
                <button class="login" type="submit"><h5>LogIn</h5></button>
            </form>
        </div>
    </header>

    <section class="home" id="home">
        <div class="swiper-container home-slider">
            <div class="swiper-wrapper wrapper">

                <div class="swiper-slide slide">
                    <div class="content">
                        <span> Today Restaurant </span>
                        <h3>GC Khaja Ghar</h3>
                        <a href="#" class="btn">Visit now</a>
                    </div>
                    <div class="image">
                        <img src="images/sn.jpg" alt="">
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <div class="content">
                        <span> Top Restaurant </span>
                        <h3>Chully Bar & Restaurant</h3>
                        <a href="#" class="btn">Visit now</a>
                    </div>
                    <div class="image">
                        <img src="images/CBR.jpg" alt="">
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <div class="content">
                        <span> Top Restaurant </span>
                        <h3>DownTown Restaurant & Bar</h3>
                        <a href="#" class="btn">visit now</a>
                    </div>
                    <div class="image">
                        <img src="images/DTR.jpg" alt="">
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <div class="content">
                        <span> Top Restaurant </span>
                        <h3>The Muglan</h3>
                        <a href="#" class="btn">Visit now</a>
                    </div>
                    <div class="image">
                        <img src="images/TM.jpg" alt="">
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <div class="content">
                        <span> Top Restaurant </span>
                        <h3>FishTail Lodge</h3>
                        <a href="#" class="btn">Visit now</a>
                    </div>
                    <div class="image">
                        <img src="images/FTL.jpg" alt="">
                    </div>

                </div>

            </div>
            <div class="swiper-pagination"></div>

        </div>

    </section>

    <section class="dishes" id="dishes">
        <h3 class="heading">Top Special Dishes</h3>
        <div class="box-container">

            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./images/samosa.jpg" alt="">
                <h3>Samosa</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>Rs 20</span>
                <a href="#" class="btn">add to order list</a>
            </div>

            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./images/Momo.jpg" alt="">

                <h3>Momo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>Rs 120</span>
                <a href="#" class="btn">add to order list</a>
            </div>

            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./images/bur.jpg" alt="">
                <h3>Burger</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>Rs 170</span>
                <a href="#" class="btn">add to order list</a>
            </div>

            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./images/pizza.jpg" alt="">
                <h3>Pizza</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>Rs 320</span>
                <a href="#" class="btn">add to order list</a>
            </div>

            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./images/pakoda.jpg" alt="">
                <h3>Pakoda</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>Rs 25</span>
                <a href="#" class="btn">add to order list</a>
            </div>

            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./images/Ffish.jpg" alt="">
                <h3>Fried Fish</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>Rs 150</span>
                <a href="#" class="btn">add to order list</a>
            </div>

            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./images/Hdog.jpg" alt="">
                <h3>Hot Dog</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>Rs 110</span>
                <a href="#" class="btn">add to order list</a>
            </div>

            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./images/Rchicken.jpg" alt="">
                <h3>Chicken</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>Rs 520</span>
                <a href="#" class="btn">add to order list</a>
            </div>

            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./images/Rice.jpg" alt="">
                <h3>Rice</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>Rs 200</span>
                <a href="#" class="btn">add to order list</a>
            </div>

            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./images/roti.jpg" alt="">
                <h3>Roti</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>Rs 220</span>
                <a href="#" class="btn">add to order list</a>
            </div>
        </div>

    </section>

    <section class="review" id="review">
        <h3 class="sub-heading">Customer's review</h3>
        <h1 class="heading">What Customer's say</h1>

        <div class="swiper-container review-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="images/Gbob.jpg" alt="">
                        <div class="user-info">
                            <h3>G-BOB</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>
                        FoodBazar is my go-to food ordering app! The variety of dishes they offer is incredible, and the
                        taste is always top-notch. The ordering process is seamless, and the delivery is always on time.
                        I highly recommend trying their signature dishes; they are simply delicious! The app interface
                        is user-friendly, making it easy to navigate and find what I'm craving.
                    </p>
                </div>

                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="images/KP ba.jpg" alt="">
                        <div class="user-info">
                            <h3>K.P Oli</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>
                        FoodBazar is my go-to food ordering app! The variety of dishes they offer is incredible, and the
                        taste is always top-notch. The ordering process is seamless, and the delivery is always on time.
                        I highly recommend trying their signature dishes; they are simply delicious! The app interface
                        is user-friendly, making it easy to navigate and find what I'm craving.
                    </p>
                </div>

                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="images/Devraj sir.jpg" alt="">
                        <div class="user-info">
                            <h3>Devraj Chalise</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>
                        FoodBazar is my go-to food ordering app! The variety of dishes they offer is incredible, and the
                        taste is always top-notch. The ordering process is seamless, and the delivery is always on time.
                        I highly recommend trying their signature dishes; they are simply delicious! The app interface
                        is user-friendly, making it easy to navigate and find what I'm craving.
                    </p>
                </div>

                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="images/kiransir.jpg" alt="">
                        <div class="user-info">
                            <h3>Kiran K.C</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>
                        FoodBazar is my go-to food ordering app! The variety of dishes they offer is incredible, and the
                        taste is always top-notch. The ordering process is seamless, and the delivery is always on time.
                        I highly recommend trying their signature dishes; they are simply delicious! The app interface
                        is user-friendly, making it easy to navigate and find what I'm craving.
                    </p>
                </div>

                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="images/adip.jpg" alt="">
                        <div class="user-info">
                            <h3>Adhip</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>
                        FoodBazar is my go-to food ordering app! The variety of dishes they offer is incredible, and the
                        taste is always top-notch. The ordering process is seamless, and the delivery is always on time.
                        I highly recommend trying their signature dishes; they are simply delicious! The app interface
                        is user-friendly, making it easy to navigate and find what I'm craving.
                    </p>
                </div>

                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="images/sudan.jpg" alt="">
                        <div class="user-info">
                            <h3>Sudan Bhandari</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>
                        FoodBazar is my go-to food ordering app! The variety of dishes they offer is incredible, and the
                        taste is always top-notch. The ordering process is seamless, and the delivery is always on time.
                        I highly recommend trying their signature dishes; they are simply delicious! The app interface
                        is user-friendly, making it easy to navigate and find what I'm craving.
                    </p>
                </div>

                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="images/prakash.jpg" alt="">
                        <div class="user-info">
                            <h3>Peak Pracash</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>
                        FoodBazar is my go-to food ordering app! The variety of dishes they offer is incredible, and the
                        taste is always top-notch. The ordering process is seamless, and the delivery is always on time.
                        I highly recommend trying their signature dishes; they are simply delicious! The app interface
                        is user-friendly, making it easy to navigate and find what I'm craving.
                    </p>
                </div>

                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="images/bishal.jpg" alt="">
                        <div class="user-info">
                            <h3>Bishal Watson</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>
                        FoodBazar is my go-to food ordering app! The variety of dishes they offer is incredible, and the
                        taste is always top-notch. The ordering process is seamless, and the delivery is always on time.
                        I highly recommend trying their signature dishes; they are simply delicious! The app interface
                        is user-friendly, making it easy to navigate and find what I'm craving.
                    </p>
                </div>
            </div>
        </div>

    </section>

    <section class="about" id="about">

        <h3 class="sub-heading">About Us</h3>
        <h1 class="heading">Why Choose FoodBazar</h1>

        <div class="row">
            <div class="image">
                <img src="images/about.jpg" alt="">
            </div>

            <div class="content">
                <h3>Best Food in the Nepal</h3>
                <p>Welcome to our food ordering web app! We are passionate about connecting you with the best food
                    options in your area. Our platform brings together a diverse range of restaurants and eateries,
                    offering a convenient and seamless way to explore and order delicious meals. Whether you're craving
                    local favorites, international cuisine, or healthy options, we've got you covered. With a
                    user-friendly interface and secure payment options, you can easily browse menus, customize your
                    order, and have it delivered right to your doorstep. Join our community of food lovers and let us
                    satisfy your cravings with exceptional culinary experiences. Order now and enjoy the convenience of
                    delicious food at your fingertips!</p>

                <div class="icons-container">
                    <div class="icons">
                        <i class="fas fa-shipping-fast"></i>
                        <span>Less Delivery charge</span>
                    </div>

                    <div class="icons">
                        <i class="fas fa-rupee-sign"></i>
                        <span>Easy payments</span>
                    </div>

                    <div class="icons">
                        <i class="fas fa-headset"></i>
                        <span>24/7 service</span>
                    </div>
                </div>
                <a href="#" class="btn">learned more</a>

            </div>
        </div>

    </section>

    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>Locations</h3>
                <a href="#">Pokhara-14,Chauthe</a>
            </div>

            <div class="box">
                <h3>Quick links</h3>
                <a href="#home">home</a>
                <a href="#dishes">Dishes</a>
                <a href="#review">Review</a>
                <a href="#contact">Contact Us</a>
                <a href="#about">About Us</a>
            </div>

            <div class="box">
                <h3>Contact us</h3>
                <a href="#">+9779826110850</a>
                <a href="#">+9779826656225</a>
                <a href="#">nabinpoudel788@gmail.com</a>
                <a href="#">siwanpoudel9@gmail.com</a>
            </div>

            <div class="box">
                <h3>follow us</h3>
                <a href="#">facebook</a>
                <a href="#">instagram</a>
                <a href="#">twiter</a>
            </div>
        </div>
        <div class="credit">copyright @ 2023 by <span>LGIC</span></div>
    </section>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        let menu = document.querySelector('#menu-bars');
        let navbar = document.querySelector('.navbar');

        menu.onclick = () => {
            menu.classList.toggle('fa-times');
            navbar.classList.toggle('active');
        }

        window.onscroll = () => {
            menu.classList.toggle('fa-times');
            navbar.classList.toggle('active');
        }


        var swiper = new Swiper(".home-slider", {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            loop: true,
        });

        var swiper = new Swiper(".review-slider", {
            spaceBetween: 20,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            loop: true,
            breakpoints: {
                0: {
                    slidesPerView: 1,
                },

                640: {
                    slidesPerView: 2,
                },

                768: {
                    slidesPerView: 3,
                },

                1024: {
                    slidesPerView: 3,
                },
            }
        });

    </script>

</body>

</html>
